$blue: #18afd3;
$btn-blue:#55bbeb;
$orange: #f57e57;
$menu_width:200px;
*{
    box-sizing: border-box;
}
body, ul{
    margin:0;
    padding: 0;
}

#sidebar{
    
    z-index: 10;
    background: white;
    width: $menu_width;
     height: 100vh;
      
    display: block;
    position: fixed;
    left:-$menu_width;
    top:0;
    transition: left 0.5s linear;
    
    ul li {
    list-style: none;    
    text-decoration: none;
    display: block;
    width: 180px;
    padding: 10px;
    
    b{
        color: $orange;
    } 
}

}
#sidebar.visible{
    left:0;
    transition: left 0.5s linear;
    overflow: scroll; 
    overflow-x: hidden; 
}

#sidebar-btn{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin: 20px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 10px;
    span{
    height: 2px;
    background: #111;
    margin-bottom: 5px;
    display: block;
}
  transition: left 0.5s linear; 
}
#sidebar-btn.visible1{
    left:$menu_width;
    transition: left 0.5s linear;  
}
.container-fluid{
    margin: 0;
    padding: 0;
 
.header{    
width: 100%;

    // float: left;
    background: url("../images/pages/typography-01-770x420.jpg") no-repeat;
     
     background-size: cover;
    
.fa{
    font-size: 29px;
    // border: 1px solid;
    color: white;
    width: 55px;
    height: 55px;
    margin-left:-10px; 
    padding: 10px;
    border-radius:100%;
    background:  #18afd3;
    text-align: center;
}
}
  .layout{
      border: 1px solid;
      background-color: rgba(30, 100, 140, 0.5%);
  }
}
.row, .a{
    border: 1px solid;
}
.center{
    margin: 0 auto;
}
.form_layout{
     background-color: rgba(0, 0, 0, 0.4%);

     .input-group .form-control:last-child{
         border-radius: 6px; 
         padding: 21px 10px;
     }
      select{
         padding: 13px 10px;
         border-radius: 6px; 
     }
}
     .btn-info{
         background: $btn-blue;
         background: $orange;
         border-radius: 100px;
         border: 0px;
         margin: 20px 0; 
         padding: 13px 30px;
         &:hover{
             background: $blue; 
         }
     }
     .row:nth-child(1){
           padding-top: 30px;
           .navbar-brand {
               padding: 0 15px;
           }
           
     }
     .row:nth-child(2){
         padding-top: 80px;
         h1{
             padding-top: 40px; 
         }
     }
     .form_layout{
         padding: 30px 0;
         margin-bottom: 160px;
     }
         .pages, .galery, .blog{      
            display: none;        
    }
    .show{
        display: block-inline;
    }
    .ellipse{
        width: 15px;
        height: 15px;
        border: 1px solid;
        border-radius: 100%; 
        background: $orange; 
        margin-right:15px;
        
    }
