.row:nth-child(1) {
  padding-top: 30px; }

.row:nth-child(1) .navbar-brand {
  padding: 0 15px; }

.container-fluid {
  margin: 0;
  padding: 0; }

.container-fluid .header .fa {
  font-size: 29px;
  color: white;
  width: 55px;
  height: 55px;
  margin-left: -10px;
  padding: 10px;
  border-radius: 100%;
  background: #18afd3;
  text-align: center; }

.menu {
  background: #18afd3;
  border: 1px;
  border-radius: 5px; }
  .menu .nav > li > a:focus, .menu .nav > li > a:hover {
    background: #f57e57; }
  .menu .nav > li:last-child > a:focus, .menu .nav > li:last-child > a:hover {
    background: #18afd3; }
  .menu .nav-pills {
    padding: 0 3%; }
    .menu .nav-pills li a {
      padding: 19px;
      color: white;
      border-radius: 0px; }
    .menu .nav-pills .dropdown {
      position: relative;
      display: inline-block; }
      .menu .nav-pills .dropdown .col-md-12 {
        padding-left: 0px; }
      .menu .nav-pills .dropdown .col-md-2 {
        border-bottom: 1px solid #f57e57; }
      .menu .nav-pills .dropdown .col-md-10 {
        border-bottom: 1px solid rgba(245, 126, 87, 0.2); }
      .menu .nav-pills .dropdown .col-md-12 i {
        margin-right: 15px;
        opacity: 0;
        width: 0px;
        margin-right: 15px;
        transition: all 0.2s; }
      .menu .nav-pills .dropdown .col-md-12 a:hover {
        color: #f57e57; }
        .menu .nav-pills .dropdown .col-md-12 a:hover i {
          opacity: 1;
          width: 10px;
          transition: all 0.2s;
          display: inline-block; }
    .menu .nav-pills .dropdown-content {
      display: none;
      position: absolute;
      min-width: 300px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      background: white; }
      .menu .nav-pills .dropdown-content i {
        margin-right: 15px;
        opacity: 0;
        width: 0px;
        margin-right: 15px;
        transition: all 0.2s; }
      .menu .nav-pills .dropdown-content a {
        color: #18afd3;
        margin: 12px 16px;
        text-decoration: none;
        display: block;
        border-top: 1px solid grey; }
        .menu .nav-pills .dropdown-content a:hover {
          color: #f57e57; }
          .menu .nav-pills .dropdown-content a:hover i {
            display: inline-block;
            opacity: 1;
            width: 10px;
            transition: all 0.2s;
            display: inline-block; }
        .menu .nav-pills .dropdown-content a:nth-child(1) {
          border: 0px; }
    .menu .nav-pills .dropdown-content1 {
      display: none;
      position: absolute;
      left: -280px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      background: white; }
      .menu .nav-pills .dropdown-content1 a {
        color: #18afd3;
        padding: 12px 0;
        text-decoration: none;
        display: block; }
    .menu .nav-pills .dropdown:hover .dropdown-content {
      display: block; }
    .menu .nav-pills .dropdown:hover .dropdown-content1 {
      display: block; }

.footer {
  color: white;
  margin-top: 700px;
  background: #18afd3; }
  .footer .pull-right {
    padding-top: 50px; }
  .footer .end {
    line-height: 58px; }
  .footer .border {
    border-top: 1px solid lightslategrey;
    margin-top: 45px; }
  .footer .icons {
    margin-top: 30%; }
    .footer .icons p {
      float: left;
      margin: 0 5px;
      font-size: 21px;
      color: lightslategrey; }
    .footer .icons .fa {
      padding: 10px;
      width: 45px;
      height: 45px;
      border: 1px;
      border-radius: 100%;
      text-align: center;
      background: white; }
      .footer .icons .fa:hover {
        background: #f57e57;
        color: white; }
  .footer .logotext {
    padding-top: 7px; }
    .footer .logotext i {
      color: #f57e57;
      float: left;
      margin-right: 7px;
      width: 24px;
      font-size: 20px; }
    .footer .logotext:hover {
      text-decoration-line: underline; }
    .footer .logotext .link {
      color: #f57e57; }
  .footer .col-md-2 {
    border-bottom: 1px solid #f57e57;
    margin-bottom: 23px; }
  .footer .col-md-10 {
    border-bottom: 1px solid navajowhite;
    margin-bottom: 23px; }
  .footer .col-md-12 {
    padding: 0px; }
  .footer .col-md-4:last-child p {
    color: lightsteelblue;
    line-height: 25px; }
  .footer input {
    padding: 11px;
    border: 1px solid orangered;
    border-radius: 3px;
    margin-top: 3px;
    position: relative; }
  .footer .btn-warning {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 3px;
    position: absolute;
    right: 4px;
    background: orangered;
    border-color: orangered; }

#sidebar {
  z-index: 10;
  background: white;
  width: 300px;
  height: 100vh;
  position: fixed;
  left: -300px;
  top: 0;
  transition: left 0.5s linear; }
  #sidebar ul li {
    list-style: none;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-left: -37px; }
    #sidebar ul li b {
      color: #f57e57; }

#sidebar.visible {
  left: 0;
  transition: left 0.5s linear;
  overflow: scroll;
  overflow-x: hidden; }

#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  margin: 20px;
  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 10px;
  transition: left 0.5s linear; }
  #sidebar-btn span {
    height: 2px;
    background: #111;
    margin-bottom: 5px;
    display: none; }

#sidebar-btn.visible1 {
  left: 300px;
  transition: left 0.5s linear; }

.pages, .galery, .blog {
  display: none; }

.daire {
  position: absolute;
  right: 10px;
  bottom: -500px; }
  .daire p {
    width: 70px;
    text-align: center;
    font-size: 46px;
    color: white;
    border-radius: 100%;
    background: #f57e57; }
    .daire p:hover {
      background: #18afd3; }

.pages li i, .galery li i, .blog li i {
  opacity: 0;
  width: 0px;
  margin-right: 15px;
  transition: all 0.2s; }
.pages li:hover i, .galery li:hover i, .blog li:hover i {
  opacity: 1;
  width: 10px;
  transition: all 0.2s;
  display: inline-block; }

.center {
  margin: 0 auto; }

@media (max-width: 995px) {
  .menu {
    display: none; }

  #sidebar-btn span {
    display: block; } }
@media (max-width: 1200px) {
  .menu .nav-pills li a {
    padding: 20px 10px; } }
.a {
  border: 1px solid;
  margin: 0 auto; }

/*# sourceMappingURL=button.css.map */
