$blue:#18afd3;
$orange:#f57e57;

.row:nth-child(1) {
  padding-top: 30px; }
  .row:nth-child(1) .navbar-brand {
    padding: 0 15px; }
.container-fluid {
  margin: 0;
  padding: 0; }

    .container-fluid .header .fa {
      font-size: 29px;
      color: white;
      width: 55px;
      height: 55px;
      margin-left: -10px;
      padding: 10px;
      border-radius: 100%;
      background: #18afd3;
      text-align: center; }
  .menu{
      background: $blue;
          border: 1px;
    border-radius: 5px; 
     .nav>li>a:focus, .nav>li>a:hover {
     background: $orange;
     }
     .nav>li:last-child>a:focus, .nav>li:last-child>a:hover{
       background: $blue;
     }
  .nav-pills{
padding: 0 28px;
      li{
        a{
          padding: 19px;
          color: white;
           border-radius: 0px;
        }
      }
        .dropdown {
    position: relative;
    display: inline-block;
    .col-md-12{
      padding-left:0px; 
    }
    .col-md-2{
      border-bottom: 1px solid $orange;
    }
    .col-md-10{
      border-bottom: 1px solid rgba($orange,0.2)
    }
    .col-md-12{
i{
      margin-right: 15px; 
      display: none;
    }
    a:hover{  
      color: $orange;
      i{
 display: inline-block;
 //  animation
      }
     
    }
    }
    
}

.dropdown-content {
    display: none;
    position: absolute;  
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    i{
      margin-right: 15px; 
      display: none;
    }
    a {
    color: $blue;
    margin: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid grey; 
    &:hover{
      color: $orange;
      i{
 display: inline-block;    
//  animation
      }
    }
    &:nth-child(1){
  border: 0px;
}

}


}
.dropdown-content1 {
    display: none;
    position: absolute;
    left: -280px;     
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
    color: $blue;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    
}
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-content1 {
    display: block;
}

      }
  }

